*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.contact{
	 position: relative;
	 min-height: 100vh;
	 padding: 10px 100px;
	 display: flex;
	 justify-content: center;
	 align-items: center;
	 flex-direction: column;
	 background: #B0E0E6;
	 background-size: 100%;
}
h3{
		text-align: center;
}
.contact .content{
	 max-width: 800px;
	 text-align: center;
}
.contact .content h2{
	font-size: 60px;
	font-weight: 500;
	color: black;
	margin-top: 50px;
}
.contact .content p{
	font-weight: 300;
	color: black;
}
.container{
	width: flex;
	display: flex;
	justify-content: left;
	align-items: left;
	margin-top: 50px;
}

.container .contactInfo .text h3{
	font-weight: 500;
	color: black;
	font-weight: bold;
}
.contactForm{
	width: 40%;
	padding: 40px;
	background: #fff;
}
.contactForm h2{
	font-size: 30px;
	color: #333;
	font-weight: 500;
}
.contactForm .inputBox{
	position: relative;
	width: 100%;
	margin-top: 10px;
}
.contactForm .inputBox input,
.contactForm .inputBox textarea
{
	width: 100%;
	padding: 5px 0;
	font-size: 16px;
	margin: 10px 0;
	border: none;
	border-bottom: 2px solid #333;
	outline: none;
	resize: none;
}

.contactForm .inputBox input:focus ~ span,
.contactForm .inputBox input:valid ~ span,
.contactForm .inputBox textarea:focus ~ span,
.contactForm .inputBox textarea:valid ~ span{
	color: #004080;
	font-size: 12px;
	transform: translate(1px);
}
.contactForm .inputBox input[type="submit"]{
	width: 100px;
	background: #00264d;
	color: #fff;
	border: none;
	cursor: pointer;
	padding: 10px;
	font-size: 18px;
}

.navbar{
	display: flex;
	align-items: center;
	padding: 10px;
	overflow: hidden;
	padding-right: 30%;
}
nav{
	flex: 1;
	text-align: right;
	padding-bottom: 2%;
	padding-top: 1px;
}
nav ul{
	display: inline-block;
	list-style-type: none;
}
nav ul li{
	display: inline-block;
	margin-right: 25px;
	font-weight: bold;
}
nav ul li a:hover{
	color: #008B8B;
	transition: all .5s;
}
nav ul ul{
	position: absolute;
	top: 60px;
	display: none;
}
nav ul li:hover > ul{
	display: block;
}

h1{
	color: #001a1a;
}
h2{
	text-align: center;
	padding-bottom: 50px;
	font-size: 30px;
}
h3{
	padding-bottom: 20px;
	font-size: 20px;
}
a{
	text-decoration: none;
	color: black;
}







